@model List<Movie>

<div class="container">
    <div class="bg-primary text-center p-3" id="movies">
        <h2 class="text-white m-0">@TempData["GenreName"] Movies</h2>
    </div>
    <div class="row m-0 pt-2 bg-primary bg-opacity-50">
        @foreach (var movie in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 p-1">
                <div class="card bg-primary p-2 h-100">
                    <img src="@movie.ImageUrl" class="card-img-top" alt="Movie poster">
                    <div class="card-body row">
                        <hr />
                        <span class="card-title text-white fs-3">@movie.Title</span>
                        <div>
                            @foreach (var movieGenre in movie.MovieGenres)
                            {
                                <span class="text-white fw-bold text-opacity-75 bg-dark p-1 rounded d-inline-block mb-2">@movieGenre.Genre.Name</span>
                            }
                        </div>
                        <a class="btn btn-warning mt-3 w-100 text-primary fw-bold text-center align-self-end" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">
                            <i class="bi fw-bold bi-film"></i> Watch
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>