@{
    ViewData["Title"] = "Home Page";
}

@model HomeVM

<div class="container" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/pagination_placeholder.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/pagination_placeholder.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/pagination_placeholder.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="bg-primary text-center p-3">
        <h1 class="text-white m-0">Welcome to Cinemax</h1>
    </div>
    <div class="row mx-0 p-3 pb-5 bg-primary bg-opacity-50">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <h3 class="text-white text-opacity-75"><i class="bi bi-list"></i> Genres</h3>
            <hr />
            <ul class="nav flex-column mb-3">
                @foreach (var genre in Model.Genres)
                {
                    <li class="nav-item mb-1 mx-0">
                        <a class="btn btn-primary text-white-50 w-100" role="button">@genre.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8">
            <h3 class="text-white text-opacity-75"><i class="bi bi-body-text"></i> Blog</h3>
            <hr />
            <h5 class="text-white text-opacity-75">Title 1</h5>
            <p class="text-white-50">
                Nullam et mauris ac nibh auctor faucibus. Quisque volutpat malesuada dui, nec dignissim velit tincidunt in. Ut nec orci molestie,
                rutrum augue ut, iaculis risus. Duis egestas maximus tortor ac pharetra. Nulla sodales pellentesque nunc ac mollis. Donec eleifend 
                magna sit amet nisi vestibulum, a finibus arcu dignissim. Curabitur aliquet, mauris vitae rutrum tincidunt, est ex pharetra lectus, 
                et placerat eros elit id lacus. Sed sed suscipit erat, ut pretium eros. Nullam congue turpis a urna facilisis consequat. Morbi dapibus
                mi vitae eros porta, sit amet pretium sapien molestie. Aenean consequat non dui eu dapibus. Vestibulum eget dignissim neque. Duis
                interdum dolor vel nibh hendrerit bibendum. In nisl leo, interdum quis elementum at, finibus ac orci. Morbi sed interdum turpis.
                Aenean vehicula tellus sit amet euismod ullamcorper.
            </p>
            <hr />
            <h5 class="text-white text-opacity-75">Title 2</h5>
            <p class="text-white-50">
                In interdum mauris ex, sit amet ornare dui eleifend ut. Pellentesque velit velit, accumsan id pharetra in, mattis mattis diam. Orci 
                varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce porta est sollicitudin justo posuere, at 
                commodo lorem suscipit. Mauris vel tellus in risus porta vestibulum. Curabitur sit amet tortor justo. Ut in dui tincidunt, convallis 
                quam a, varius orci. Proin vestibulum nec nulla quis accumsan. Etiam consectetur, nibh ac venenatis porta, ante nisl ornare eros,
                quis laoreet arcu lectus sed enim. Nunc aliquet diam et nulla tincidunt aliquam. Nam scelerisque, mi nec vestibulum vestibulum,
                sapien lacus congue tortor, quis auctor justo purus vitae lorem. Maecenas tincidunt nibh nec tincidunt congue. Donec interdum vitae 
                ante quis viverra. Ut molestie nibh sit amet dolor ornare congue.
            </p>
            <hr />
            <h5 class="text-white text-opacity-75">Title 3</h5>
            <p class="text-white-50">
                Donec at nibh magna. Fusce arcu massa, accumsan vitae eros non, sollicitudin laoreet lorem. In id justo eu mauris bibendum suscipit.
                Vestibulum cursus non orci a ullamcorper. Vivamus et maximus nisl. In hac habitasse platea dictumst. Praesent sed erat leo. Praesent
                dolor augue, blandit eget tincidunt eu, scelerisque in nisl. Vestibulum suscipit mauris eu lobortis vulputate. Sed ac lectus venenatis,
                tincidunt nunc non, sollicitudin ligula. Aliquam et vulputate erat. Sed iaculis lectus augue, at congue lorem eleifend id. Maecenas
                pellentesque nisi vitae lorem dictum ultrices.
            </p>
        </div>
    </div>
    <div class="bg-primary text-center p-3" id="movies">
        <h2 class="text-white m-0">Movies</h2>
    </div>
    <div class="row m-0 pt-2 bg-primary bg-opacity-50">
        @foreach (var movie in Model.Movies)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 p-1">
                <div class="card bg-primary p-2 h-100">
                    <img src="@movie.ImageUrl" class="card-img-top" alt="Movie poster">
                    <div class="card-body row">
                        <hr />
                        <span class="card-title text-white fs-3">@movie.Title</span>
                        <div>
                            @foreach (var movieGenre in movie.MovieGenres)
                            {
                                <span class="text-white fw-bold text-opacity-75 bg-dark p-1 rounded d-inline-block mb-2">@movieGenre.Genre.Name</span>
                            }
                        </div>
                        <a class="btn btn-warning mt-3 w-100 text-primary fw-bold text-center align-self-end" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">
                            <i class="bi fw-bold bi-film"></i> Watch
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>