@model Movie

<div class="card my-4 bg-dark border-0 p-3">
    <div class="row g-5">
        <div class="col-xl-4 col-lg-12">
            <img src="@Model.ImageUrl" class="img-fluid" alt="Movie poster">
        </div>
        <div class="col-xl-8">
            <div class="card-body">
                <h1 class="card-title text-white text-opacity-75">@Model.Title</h1>
                @foreach (var genre in Model.MovieGenres)
                {
                    <span class="text-white fw-bold text-opacity-75 bg-primary p-1 rounded">@genre.Genre.Name</span>
                }
                <br />
                <span class="text-white text-opacity-50 mt-3 d-inline-block"><i class="bi bi-clock-fill"></i> @Model.Duration min</span>
                <hr class="text-white" />
                <p class="card-text text-white text-opacity-50">
                    @Model.Description
                </p>
                <p class="card-text text-white text-opacity-50 my-2"><span class="text-white text-opacity-75 fw-bold">Directior: </span>@Model.Director</p>
                <p class="card-text text-white text-opacity-50 my-2"><span class="text-white text-opacity-75 fw-bold">Stars: </span>@Model.MainActor</p>
                <p class="card-text text-white text-opacity-50 my-2"><span class="text-white text-opacity-75 fw-bold">Price: </span>@Model.TicketPrice.ToString("C")</p>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn fs-3 text-black btn-warning rounded rounded-3">Buy ticket <i class="bi bi-film ms-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>